.Home {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.Home .Content {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: bisque;
    flex: 1 1 auto;
}

.Home .DescriptionArea {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.Home .DescriptionHeader {
    font-size: 3em;
}

.Home .Description {
    text-align: center;
    line-height: 1.5em;
}