.Home {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.Home .Content {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: bisque;
    flex: 1 1 auto;
}

.Home .DescriptionArea {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.Home .DescriptionHeader {
    font-size: 3em;
}

.Home .Description {
    text-align: center;
    line-height: 1.5em;
}

.Home .ItemsForSale {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.Home .ItemsForSale li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
}

.Home .ItemsForSale li img {
    width: 40em;
    height: 40em;
}

.Home .ItemsForSale li .ItemName {
    font-size: 1.3em;
    font-weight: bolder;
}

.Home .ItemsForSale li button {
    padding: 1em;
    background-color: greenyellow;
}

.Home .ItemsForSale li button:hover {
    background-color: #86d701;
}

